.DS_Store
node_modules
**/build
**/dist
**/.astro
**/.svelte-kit
.env
.env.*
!.env.example

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
yarn.lock


# Ignore Maps.astro as it contains external script that fails prettier. Nothing we can do about it
/apps/gov/src/components/Maps.astro

/apps/gov/src/content
