http://babyn-yar.gov.ua, https://babyn-yar.gov.ua {
	redir https://babynyar.gov.ua{uri} permanent
}

babynyar.gov.ua {
	@cacheableHTML method GET HEAD
	header @cacheableHTML {
		Cache-Control "public, max-age=0, must-revalidate"
		Cloudflare-CDN-Cache-Control "public, max-age=60, stale-while-revalidate=300"
		defer
		match {
			status 200
			header Content-Type text/html*
		}
	}

	reverse_proxy gov:4321
}

babynyar.work {
	reverse_proxy admin:80
}

api.babynyar.gov.ua, api.babynyar.work {
	encode

	handle /v1/assets* {
		request_body {
			max_size 500MB
		}

		reverse_proxy api:8000
	}

	reverse_proxy api:8000
}
