<div class="w-full max-w-3xl">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d20308.79954075439!2d30.466398!3d50.485791!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cdea5a32026f%3A0xda0d5e265fef2688!2z0LLRg9C70LjRhtGPINCf0LXRgtGA0L7Qv9Cw0LLQu9GW0LLRgdGM0LrQsCwgMTUsINCa0LjRl9CyLCAwMjAwMA!5e0!3m2!1suk!2sua!4v1694034325712!5m2!1suk!2sua"
    class="h-[450px] w-full border-none"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
