---
export interface Props {
  src: string
  alt: string
}

const { src, alt } = Astro.props
---

<div class="relative my-8 h-auto w-full">
  <img
    src={src}
    alt={alt}
    class="!-mx-4 h-auto w-[calc(100%+2rem)] max-w-[calc(100%+2rem)] md:!-mx-[calc(39px+2rem)] md:w-[calc(100%+((2rem+39px)*2))] md:max-w-[calc(100%+((2rem+39px)*2))] lg:!-mx-[calc(39px+3rem)] lg:w-[calc(100%+((3rem+39px)*2))] lg:max-w-[calc(100%+((3rem+39px)*2))]"
  />
</div>
