---
import MapLegendItem from './MapLegendItem.astro'
import { useTranslations, getLangFromUrl } from 'i18n'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<div class="mx-auto max-w-4xl">
  <div class="px-4">
    <div class="flex items-start justify-between md:items-center">
      <MapLegendItem color="008000">{t('map.legend.active')}</MapLegendItem>
      <MapLegendItem color="FF0200">{t('map.legend.memorial')}</MapLegendItem>
      <MapLegendItem color="4F6128">{t('map.legend.execution')}</MapLegendItem>
    </div>
  </div>
</div>
