---
import MapLegend from './MapLegend.astro'
---

<iframe
  src="https://static.babynyar.work/scatter-map.html"
  width="100%"
  height="500"
  style="border: none;"></iframe>

<div class="mt-5">
  <MapLegend />
</div>
