---
import MainLayout from '@/layouts/MainLayout.astro'
import { MultiCarousel } from '@/components/ui'
import { GalleryAPI } from '@repo/api'

export const prerender = false

const response = await GalleryAPI.list()
---

<MainLayout
  title='Photo of monuments and commemorative signs, which are situated on the territory of National Historical Memorial Reserve "Babyn Yar"'
  description='Photo of monuments and commemorative signs, which are situated on the territory of National Historical Memorial Reserve "Babyn Yar"'
>
  <h2>
    Photo of monuments and commemorative signs, which are situated on the
    territory of National Historical Memorial Reserve "Babyn Yar"
  </h2>
  <MultiCarousel client:load slides={response.images.map(image => image.url)} />
</MainLayout>
