---
import MainLayout from '@/layouts/MainLayout.astro'
import { MultiCarousel } from '@/components/ui'
import { GalleryAPI } from '@repo/api'

export const prerender = false

const response = await GalleryAPI.list()
---

<MainLayout
  title="Фотознімки пам’ятників та пам’ятних знаків, які знаходяться на території НІМЗ"
  description="Фотознімки пам’ятників та пам’ятних знаків, які знаходяться на території НІМЗ"
>
  <h2>
    Фотознімки пам’ятників та пам’ятних знаків, які знаходяться на території
    НІМЗ
  </h2>
  <MultiCarousel client:load slides={response.images.map(image => image.url)} />
</MainLayout>
