---
import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'
import { Head, HeadSEO } from '@/components/ui'
import '@/styles/roboto.css'
import MobileMenu from '@/components/MobileMenu.astro'
import '../styles/global.css'

export interface Props {
  title: string
  description: string
  translationId?: number
}

const { title, description, translationId } = Astro.props
---

<!doctype html>
<html lang="uk">
  <head>
    <Head />
    <HeadSEO
      {title}
      {description}
      ogImage="/og-image.png"
      siteTitle='Національний історико-меморіальний заповідник "Бабин Яр"'
    />
  </head>
  <body class="relative">
    <Header {translationId} />
    <MobileMenu />
    <main
      class="px-4 pt-32 text-xl text-black md:px-[calc(2rem+39px)] lg:px-[calc(3rem+39px)]"
    >
      <slot />
    </main>
    <Footer />
  </body>
</html>
