---
import BaseLayout from '@/layouts/BaseLayout.astro'
import { getLangFromUrl, useTranslations, useTranslatedPath } from '@babyn-yar/i18n'

interface Props {
  code: number
}

const { code } = Astro.props
const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
const translatePath = useTranslatedPath(lang)

const meta = `${code} | ${t('error.meta')}`
---

<BaseLayout title={meta} description={meta}>
  <div
    class="not-prose grid min-h-full place-items-center px-6 py-24 sm:py-32 lg:px-8"
  >
    <div class="text-center">
      <p class="text-base font-semibold">{code}</p>
      <h1
        class="mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl"
      >
        <slot name="title" />
      </h1>
      <p class="mt-6 text-base leading-7 text-gray-600">
        <slot name="description" />
      </p>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <a
          href={translatePath('/')}
          class="rounded-md bg-black px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:opacity-80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
        >
          {t('error.return')}
        </a>
      </div>
    </div>
  </div>
</BaseLayout>
