---
import { getLangFromUrl, useTranslations, useTranslatedPath } from '@babyn-yar/i18n'
import { EMAIL } from '@/constants'
import { Youtube, Instagram, Facebook } from 'lucide-react'
import { SocialLink, FooterSection, FooterSectionItem } from '@/components/ui'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
const translatePath = useTranslatedPath(lang)
---

<footer class="mt-20 mb-5 space-y-1 px-4 md:px-[calc(39px+3rem)]">
  <div class="flex flex-col items-start justify-between gap-4 md:flex-row">
    <FooterSection>
      <FooterSectionItem href={translatePath('/partners')}>
        {t('footer.partners')}
      </FooterSectionItem>
      <FooterSectionItem href={translatePath('/structure')}>
        {t('footer.structure')}
      </FooterSectionItem>
      <FooterSectionItem href={translatePath('/media-articles')}>
        {t('footer.media')}
      </FooterSectionItem>
      <FooterSectionItem href={translatePath('/territory-organization-plan')}>
        {t('footer.territory')}
      </FooterSectionItem>
    </FooterSection>
    <FooterSection>
      <!-- <FooterSectionItem href={translatePath('/legislative-basis')}> -->
      <!--   {t('footer.documents')} -->
      <!-- </FooterSectionItem> -->
      <!-- <FooterSectionItem href={translatePath('/development-concept')}> -->
      <!--   {t('footer.concept')} -->
      <!-- </FooterSectionItem> -->
    </FooterSection>
    <div class="space-y-2">
      <SocialLink url="https://www.facebook.com/babynyar.gov.ua">
        <Facebook slot="icon" size={20} />
        <Fragment slot="text">Facebook</Fragment>
      </SocialLink>
      <SocialLink url="https://www.instagram.com/babyn.yar/">
        <Instagram slot="icon" size={20} />
        <Fragment slot="text">Instagram</Fragment>
      </SocialLink>
      <SocialLink
        url="https://youtube.com/@babynyarmemorial?si=cZOHqk9-U6UWhl2S"
      >
        <Youtube slot="icon" size={20} />
        <Fragment slot="text">Youtube</Fragment>
      </SocialLink>
      <SocialLink url="https://x.com/nmbabynyar">
        <svg
          slot="icon"
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          fill="#000000"
          viewBox="0 0 256 256"
          ><path
            d="M214.75,211.71l-62.6-98.38,61.77-67.95a8,8,0,0,0-11.84-10.76L143.24,99.34,102.75,35.71A8,8,0,0,0,96,32H48a8,8,0,0,0-6.75,12.3l62.6,98.37-61.77,68a8,8,0,1,0,11.84,10.76l58.84-64.72,40.49,63.63A8,8,0,0,0,160,224h48a8,8,0,0,0,6.75-12.29ZM164.39,208,62.57,48h29L193.43,208Z"
          ></path></svg
        >
        <Fragment slot="text">X</Fragment>
      </SocialLink>
    </div>
  </div>
  <div class="pt-10">
    <p>{t('footer.main')}</p>
    <p>{t('footer.address')}</p>
    <p>
      e-mail:
      <a href={`mailto:${EMAIL}`}>
        {EMAIL}
      </a>
    </p>
  </div>
</footer>
