---
import { getLangFromUrl, useTranslations, useTranslatedPath } from '@babyn-yar/i18n'
import {
  HeaderSection,
  HeaderDropdownItem,
  HeaderLink,
  HeaderDropdown,
  LanugagePicker,
  MobileNavToggle
} from '@/components/ui'

interface Props {
  translationId?: number
}

const { translationId } = Astro.props
const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
const translatePath = useTranslatedPath(lang)
---

<header class="fixed top-0 z-10 w-full bg-white">
  <div
    class="mx-auto flex items-start justify-between px-4 pt-8 pb-3 md:justify-normal md:px-8 lg:px-12"
  >
    <a
      href={translatePath('/')}
      aria-label="Go to home page"
      class="md:mr-6 lg:mr-12"
    >
      <img
        src=`/logo${lang == 'en' ? '-en' : ''}.webp`
        alt="Site logo"
        class="w-44"
      />
    </a>
    <nav class="flex items-center justify-end md:justify-between">
      <HeaderSection>
        <HeaderLink href={translatePath('/events')}>
          {t('header.events')}
        </HeaderLink>
      </HeaderSection>
      <HeaderDropdown>
        <HeaderLink slot="trigger">{t('header.holocaust')}</HeaderLink>
        <Fragment slot="list">
          <HeaderDropdownItem
            href={translatePath('/holocaust/list-of-holocaust-victims')}
          >
            {t('header.holocaust.victims')}
          </HeaderDropdownItem>
          <HeaderDropdownItem href={translatePath('/holocaust/documents')}>
            {t('header.holocaust.documents')}
          </HeaderDropdownItem>
          <HeaderDropdownItem
            href={translatePath('/holocaust/list-of-righteous')}
          >
            {t('header.holocaust.righteous')}
          </HeaderDropdownItem>
          <HeaderDropdownItem href={translatePath('/holocaust/testimonies')}>
            {t('header.holocaust.testimonies')}
          </HeaderDropdownItem>
        </Fragment>
      </HeaderDropdown>
      <HeaderDropdown>
        <HeaderLink slot="trigger">{t('header.education')}</HeaderLink>
        <Fragment slot="list">
          <HeaderDropdownItem href={translatePath('/education/history')}>
            {t('header.education.history')}
          </HeaderDropdownItem>
          <HeaderDropdownItem href={translatePath('/education/map')}>
            {t('header.education.map')}
          </HeaderDropdownItem>
          <HeaderDropdownItem href={translatePath('/education/archive')}>
            {t('header.education.archive')}
          </HeaderDropdownItem>
          <HeaderDropdownItem href={translatePath('/education/library')}>
            {t('header.education.library')}
          </HeaderDropdownItem>
          <HeaderDropdownItem
            href={translatePath('/education/living-memory-exhibition-center')}
          >
            {t('header.education.exhibition-center')}
          </HeaderDropdownItem>
          <HeaderDropdownItem
            href={translatePath('/education/living-memory-award')}
          >
            {t('header.education.living-memory-award')}
          </HeaderDropdownItem>
        </Fragment>
      </HeaderDropdown>
      <HeaderDropdown>
        <HeaderLink slot="trigger">{t('header.connect')}</HeaderLink>
        <Fragment slot="list">
          <HeaderDropdownItem href={translatePath('/connect/find-us')}>
            {t('header.connect.find')}
          </HeaderDropdownItem>
          <HeaderDropdownItem href={translatePath('/connect/contact')}>
            {t('header.connect.contact')}
          </HeaderDropdownItem>
        </Fragment>
      </HeaderDropdown>
      <HeaderSection>
        <HeaderLink href={translatePath('/support')}>
          {t('header.support')}
        </HeaderLink>
      </HeaderSection>
      <HeaderSection>
        <HeaderLink href={translatePath('/gallery')}>
          {t('header.gallery')}
        </HeaderLink>
      </HeaderSection>
      <div class="md:border-l md:border-l-black">
        <LanugagePicker client:load lang={lang} translationId={translationId} />
      </div>
      <MobileNavToggle client:load />
    </nav>
  </div>
</header>
