---
import { MobileNavContent } from '@/components/ui'
import { getLangFromUrl, useTranslations, useTranslatedPath } from '@babyn-yar/i18n'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
const translatePath = useTranslatedPath(lang)
---

<nav
  id="mobile-nav"
  class="fixed inset-x-0 top-28 bottom-0 z-20 hidden bg-white px-4 md:hidden"
>
  <ul
    class="max-h-full space-y-8 overflow-x-visible overflow-y-auto overscroll-contain pb-4"
  >
    <li class="my-4 text-lg font-bold lowercase">
      <a href={translatePath('/events')}>{t('mobile.events')}</a>
    </li>
    <li class="my-4 text-lg font-bold lowercase">
      <a href={translatePath('/support')}>{t('mobile.support_us')}</a>
    </li>
    <MobileNavContent
      group={t('mobile.holocaust')}
      links={[
        {
          text: t('mobile.holocaust.victims'),
          href: translatePath('/holocaust/list-of-holocaust-victims')
        },
        {
          text: t('mobile.holocaust.documents'),
          href: translatePath('/holocaust/documents')
        },
        {
          text: t('mobile.holocaust.righteous'),
          href: translatePath('/holocaust/list-of-righteous')
        },
        {
          text: t('mobile.holocaust.testimonies'),
          href: translatePath('/holocaust/testimonies')
        }
      ]}
    />
    <MobileNavContent
      group={t('mobile.education')}
      links={[
        {
          text: t('mobile.education.history'),
          href: translatePath('/education/history')
        },
        {
          text: t('mobile.education.map'),
          href: translatePath('/education/map')
        },
        {
          text: t('mobile.education.archive'),
          href: translatePath('/education/archive')
        },
        {
          text: t('mobile.education.library'),
          href: translatePath('/education/library')
        },
        {
          text: t('mobile.education.exhibition-center'),
          href: translatePath('/education/living-memory-exhibition-center')
        },
        {
          text: t('mobile.education.living-memory-award'),
          href: translatePath('/education/living-memory-award')
        }
      ]}
    />
    <MobileNavContent
      group={t('mobile.connect')}
      links={[
        {
          text: t('mobile.connect.find'),
          href: translatePath('/connect/find-us')
        },
        {
          text: t('mobile.connect.contact'),
          href: translatePath('/connect/contact')
        }
      ]}
    />
    <MobileNavContent
      group={t('mobile.support')}
      links={[
        {
          text: t('mobile.support.partnership'),
          href: translatePath('/support/partnership')
        }
      ]}
    />
    <li class="my-4 text-lg font-bold lowercase">
      <a href={translatePath('/gallery')}>{t('mobile.gallery')}</a>
    </li>
  </ul>
</nav>
